*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-image: url(background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
}
.raleway-base {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
}
.raleway-bold{
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}
.main-div-center{
    backdrop-filter: blur(40px);
    background-color: rgba(255, 127, 127, 0.5);
    margin: auto;
    width: 75%;
    height: 100%;
    text-align: justify;
    border-left: 2px solid red;
    border-right: 2px solid red;
    padding: 20px;
}
.header-div{
    backdrop-filter: blur(40px);   
    background-color: rgba(255, 127, 127, 0.5);
    margin: auto;
    width: 100%;
    min-height: 150px;
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    border-bottom: 2px solid red;
}
.header-title{
    width: fit-content;
    display: inline-block;
    margin: auto;
}
.header-button-left{
    width: fit-content;
    display: inline-block;
    margin-right: auto;
}
.header-button-right{
    width: fit-content;
    display: inline-block;
    margin-left: auto;
}
/*Buttons*/
button{
    background-color: transparent;
    border: 2px solid black;
    border-radius: 5px;
    padding: 5px 10px;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-size: 1.7vh;
    cursor: pointer;
    min-width: 220px;
}

/*Anchor links*/
a{
    text-decoration: underline;
    color: black;
    animation: link-underline 3s ease-in-out infinite;
}
a:hover{
    color: green;
}
@keyframes link-underline {
    0% {
        text-decoration: underline red;
    }
    25% {
        text-decoration: underline orange;
    }
    50% {
        text-decoration: underline yellow;
    }
    75% {
        text-decoration: underline white;
    }
    90% {
        text-decoration: underline orangered;
    }
    100% {
        text-decoration: underline red;
    }
}

/*Image*/
img{
    display: block;
    margin: auto;
    animation: image-border 3s ease-in-out infinite;
}
@keyframes image-border {
    0% {
        border: 5px solid red;
    }
    25% {
        border: 5px solid orange;
    }
    50% {
        border: 5px solid yellow;
    }
    75% {
        border: 5px solid white;
    }
    90% {
        border: 5px solid orangered;
    }
    100% {
        border: 5px solid red;
    }
    
}
hr{
    border: none;
    border-top: 2px solid red;
    margin: 20px 0;
}
.connections{
    text-align: center;
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 1.7vh;
}